@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

/* Default scrollbar style */
.scrollbar-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #1f2937 transparent; /* track color */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px; /* scrollbar thickness */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; /* track background */
  margin: 10px; /* add margin around scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.scrollbar-custom:hover {
  scrollbar-color: #5e6062 transparent; /* lighter gray */
}
